<HTML>
	<head><title>GO FastoCloud API Service</title></head>
	<body>
	<center>
	Welcome to <b>FastoCloud API Service</b>, how to use it you can find <a href="https://fastogt.stoplight.io/docs/fastocloud-api/reference/fastocloud_streams.yaml">here</a>.
	UI for managing this node you can find <a href="{{.Link}}">here</a>. 
	</center>
	</body>
	</HTML>